In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
import os
os.environ['PYSPARK_SUBMIT_ARGS'] = "--packages=org.apache.hadoop:hadoop-aws:2.7.3 pyspark-shell"

In [3]:
import configparser

config = configparser.ConfigParser()
config.read(os.path.expanduser("~/.aws/credentials"))
print(config.sections())
print(config.options('default'))
access_id = config.get('default', "aws_access_key_id") 
access_key = config.get('default', "aws_secret_access_key")

['default']
['aws_access_key_id', 'aws_secret_access_key']

In [4]:
from pyspark import SparkContext
sc = SparkContext("local", "s3 test")

In [5]:
hadoop_conf = sc._jsc.hadoopConfiguration()
hadoop_conf.set("fs.s3n.impl", "org.apache.hadoop.fs.s3native.NativeS3FileSystem")
hadoop_conf.set("fs.s3n.awsAccessKeyId", access_id)
hadoop_conf.set("fs.s3n.awsSecretAccessKey", access_key)

In [6]:
from pyspark.sql import SQLContext

sqlc = SQLContext(sc)

In [7]:
df = sqlc.read.options(header = True).csv("s3n://celestopolis/census_data_1/Individual_Census_by_Borough__Community_District__and_Facility_Type.csv")
df.printSchema()

root
 |-- Report Date: string (nullable = true)
 |-- Borough: string (nullable = true)
 |-- Community Districts: string (nullable = true)
 |-- Census Type: string (nullable = true)
 |-- Adult Family Commercial Hotel: string (nullable = true)
 |-- Adult Family Shelter: string (nullable = true)
 |-- Adult Shelter: string (nullable = true)
 |-- Adult Shelter Commercial Hotel: string (nullable = true)
 |-- Family Cluster: string (nullable = true)
 |-- Family with Children Commercial Hotel: string (nullable = true)
 |-- Family with Children Shelter: string (nullable = true)

In [36]:
df.show(10)

+-----------+-------+-------------------+-----------+-----------------------------+--------------------+-------------+------------------------------+--------------+-------------------------------------+----------------------------+
|Report Date|Borough|Community Districts|Census Type|Adult Family Commercial Hotel|Adult Family Shelter|Adult Shelter|Adult Shelter Commercial Hotel|Family Cluster|Family with Children Commercial Hotel|Family with Children Shelter|
+-----------+-------+-------------------+-----------+-----------------------------+--------------------+-------------+------------------------------+--------------+-------------------------------------+----------------------------+
| 10/31/2020|  Bronx|                  1|Individuals|                         null|                 189|           73|                           140|            31|                                   64|                        1202|
| 10/31/2020|  Bronx|                  2|Individuals|                         null|                 160|            0|                          null|           204|                                 null|                         866|
| 10/31/2020|  Bronx|                  3|Individuals|                         null|                 258|          218|                           123|            62|                                  115|                        1295|
| 10/31/2020|  Bronx|                  4|Individuals|                         null|                null|          206|                            99|           910|                                 null|                        2134|
| 10/31/2020|  Bronx|                  5|Individuals|                         null|                 203|            0|                          null|           755|                                 null|                        1054|
| 10/31/2020|  Bronx|                  6|Individuals|                         null|                  66|           33|                          null|           205|                                 null|                        1898|
| 10/31/2020|  Bronx|                  7|Individuals|                         null|                  99|          101|                          null|           234|                                 null|                         275|
| 10/31/2020|  Bronx|                  8|Individuals|                         null|                null|         null|                          null|          null|                                 null|                         233|
| 10/31/2020|  Bronx|                  9|Individuals|                         null|                null|           50|                          null|           167|                                 null|                         752|
| 10/31/2020|  Bronx|                 10|Individuals|                         null|                null|         null|                          null|          null|                                 null|                         591|
+-----------+-------+-------------------+-----------+-----------------------------+--------------------+-------------+------------------------------+--------------+-------------------------------------+----------------------------+
only showing top 10 rows

In [39]:
df.registerTempTable("example")
sqlc.sql("select Borough, count(*) as n_entries from example group by 1").show(10)

+-------------+---------+
|      Borough|n_entries|
+-------------+---------+
|       Queens|      420|
|     Brooklyn|      540|
|Staten Island|       90|
|    Manhattan|      360|
|        Bronx|      360|
+-------------+---------+